[mysqld]
#log_error       =/var/log/mysql/mysql_error.log
#general_log     =1
general_log_file=/var/log/mysql/mysql.log
#slow_query_log  =1
slow_query_log_file=/var/log/mysql/mysql_slow.log
#long_query_time =2
#log_queries_not_using_indexes = 1
